<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @weiguijilu.id %>
</p>

<p>
  <b>Shuanghu:</b>
  <%= @weiguijilu.shuanghu_id %>
</p>

<p>
  <b>Yuangong:</b>
  <%= @weiguijilu.yuangong_id %>
</p>

<p>
  <b>Guifan:</b>
  <%= @weiguijilu.guifan_id %>
</p>

<p>
  <b>Xinyongzhouqi:</b>
  <%= @weiguijilu.xinyongzhouqi_id %>
</p>

<p>
  <b>Shijian:</b>
  <%= @weiguijilu.shijian %>
</p>

<p>
  <b>Weiguineirong:</b>
  <%= @weiguijilu.weiguineirong %>
</p>

<p>
  <b>Chuliqingkuang:</b>
  <%= @weiguijilu.chuliqingkuang %>
</p>

<p>
  <b>Koufen:</b>
  <%= @weiguijilu.koufen %>
</p>

<p>
  <b>User:</b>
  <%= @weiguijilu.user_id %>
</p>


<%= link_to 'Edit', edit_weiguijilu_path(@weiguijilu) %> |
<%= link_to 'Back', weiguijilus_path %>
