<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @xinyongtongji.id %>
</p>

<p>
  <b>Shanghu:</b>
  <%= @xinyongtongji.shanghu_id %>
</p>

<p>
  <b>Xinyongzhouqi:</b>
  <%= @xinyongtongji.xinyongzhouqi_id %>
</p>

<p>
  <b>Defen:</b>
  <%= @xinyongtongji.defen %>
</p>


<%= link_to 'Edit', edit_xinyongtongji_path(@xinyongtongji) %> |
<%= link_to 'Back', xinyongtongjis_path %>
