<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @xinyongzhouqi.id %>
</p>

<p>
  <b>Name:</b>
  <%= @xinyongzhouqi.name %>
</p>


<%= link_to 'Edit', edit_xinyongzhouqi_path(@xinyongzhouqi) %> |
<%= link_to 'Back', xinyongzhouqis_path %>
