<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @guifan.id %>
</p>

<p>
  <b>Dalei:</b>
  <%= @guifan.dalei %>
</p>

<p>
  <b>Neirong:</b>
  <%= @guifan.neirong %>
</p>

<p>
  <b>Fenzhi:</b>
  <%= @guifan.fenzhi %>
</p>

<p>
  <b>Xuhao:</b>
  <%= @guifan.xuhao %>
</p>

<p>
  <b>Kaopingbumen:</b>
  <%= @guifan.kaopingbumen %>
</p>

<p>
  <b>Kaohefangshi:</b>
  <%= @guifan.kaohefangshi %>
</p>


<%= link_to 'Edit', edit_guifan_path(@guifan) %> |
<%= link_to 'Back', guifans_path %>
