<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @xuncharizhi.id %>
</p>

<p>
  <b>Zhuangtai:</b>
  <%= @xuncharizhi.zhuangtai %>
</p>

<p>
  <b>Faqishijian:</b>
  <%= @xuncharizhi.faqishijian %>
</p>

<p>
  <b>Shanghu:</b>
  <%= @xuncharizhi.shanghu_id %>
</p>

<p>
  <b>Wenti:</b>
  <%= @xuncharizhi.wenti %>
</p>

<p>
  <b>Wentidalei:</b>
  <%= @xuncharizhi.wentidalei %>
</p>

<p>
  <b>Kefutishi:</b>
  <%= @xuncharizhi.kefutishi %>
</p>

<p>
  <b>Kefuwanchengshijian:</b>
  <%= @xuncharizhi.kefuwanchengshijian %>
</p>

<p>
  <b>Kefuhuifu:</b>
  <%= @xuncharizhi.kefuhuifu %>
</p>

<p>
  <b>User:</b>
  <%= @xuncharizhi.user_id %>
</p>


<%= link_to 'Edit', edit_xuncharizhi_path(@xuncharizhi) %> |
<%= link_to 'Back', xuncharizhis_path %>
