<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @yuangong.id %>
</p>

<p>
  <b>Name:</b>
  <%= @yuangong.name %>
</p>

<p>
  <b>Sex:</b>
  <%= @yuangong.sex %>
</p>

<p>
  <b>Shenfenzhenghao:</b>
  <%= @yuangong.shenfenzhenghao %>
</p>

<p>
  <b>Jiguan:</b>
  <%= @yuangong.jiguan %>
</p>

<p>
  <b>Nianling:</b>
  <%= @yuangong.nianling %>
</p>

<p>
  <b>Dianhua:</b>
  <%= @yuangong.dianhua %>
</p>

<p>
  <b>Zhaopianlujing:</b>
  <%= @yuangong.zhaopianlujing %>
</p>


<%= link_to 'Edit', edit_yuangong_path(@yuangong) %> |
<%= link_to 'Back', yuangongs_path %>
